body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c70039;
    color: white;
    padding: 14px 20px;
}

.nav-title {
    font-size: 20px;
    font-weight: bold;
}

.nav-right {
    display: flex;
    align-items: center;
}



.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* PAGE LAYOUT */

.main-content{
	padding:25px;
}

/* SIDEBAR */

.sidebar {
    width: 250px;
    background: #ffffff;
    padding-top: 10px;
    box-shadow: 2px 0 4px rgba(0,0,0,0.1);
}

.sidebar .item {
    padding: 14px 20px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 15px;
    border-left: 3px solid transparent;
    transition: 0.3s;
}

.sidebar .item i {
    margin-right: 10px;
}

.sidebar .item:hover {
    background: #f0f0f0;
    border-left: 3px solid #c70039;
}

.sidebar .active {
    background: #e6e6e6;
    border-left: 3px solid #c70039;
}

/* CONTENT */

.content {
    flex: 1;
    padding: 25px;
}
