<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{user-base :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title> Insert title here</title>

</head>
<body>
<section>
 	<div class="row">
 		<div class="col-md-6 offset-md-3 mt-3">
 			<div class="card">
 				<div class="card-body">
 					<div class="container text-center">
 					<img alt="image" src="img/default.png" style="height:100px">
 					<h5 th:text="${employee.empName}"></h5>
 					<i th:text="${employee.designation}"></i>
 					<hr>
 					<table class="table">
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td>Email</td>
					      <td th:text="${employee.email}">Otto</td>
					     
					    </tr>
					    <tr>
					      <th scope="row">2</th>
					      <td>Gender</td>
					      <td th:text="${employee.gender}">Thornton</td>
					     
					    </tr>
					    <tr>
					      <th scope="row">3</th>
					      <td>Date Of Birth</td>
					      <td th:text="${employee.dob}"></td>
					    
					    </tr>
					    <tr>
					      <th scope="row">4</th>
					      <td>Date Of Joining</td>
					      <td th:text="${employee.doj}"></td>
					    
					    </tr>
					    <tr>
					      <th scope="row">5</th>
					      <td>Mobile Number</td>
					      <td th:text="${employee.mobile}"></td>
					    </tr>
					    <tr>
					      <th scope="row">6</th>
					      <td>Department</td>
					      <td th:text="${employee.department}"></td>
					    </tr>
					    <tr>
					      <th scope="row">7</th>
					      <td>Current Address</td>
					      <td th:text="${employee.currAddress}"></td>
					    
					    </tr>
					    <tr>
					      <th scope="row">8</th>
					      <td>Previous  Address</td>
					      <td th:text="${employee.perAddress}"></td>
					    
					    </tr>
					  </tbody>
					</table>
 				</div>
 			</div>
 		</div>
 	</div>
</section>

</body>
      
</html>
      
